.about-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 32px;
}

.article {
	display: flex;
	flex-direction: column;
	color: #3a3a3a;
}

/* .article:nth-child(odd) {
	flex-direction: column-reverse;
} */

.article:nth-child(odd) img {
	order: -1;
}
