* {
	box-sizing: border-box;
}

.item {
	background-color: yellow;
	border: 1px dashed red;
}

.text-center {
	text-align: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1140px;
	border: 2px solid green;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-0.5 * var(--gutter-x));
	margin-right: calc(-0.5 * var(--gutter-x));
	margin-top: calc(-0.5 * var(--gutter-y));
	margin-bottom: calc(-0.5 * var(--gutter-y));
}

.row > * {
	padding-left: calc(0.5 * var(--gutter-x));
	padding-right: calc(0.5 * var(--gutter-x));
	padding-top: calc(0.5 * var(--gutter-y));
	padding-bottom: calc(0.5 * var(--gutter-y));
}

.g-0,
.gx-0 {
	--gutter-x: 0;
}

.g-1,
.gx-1 {
	--gutter-x: 0.25rem;
}

.g-2,
.gx-2 {
	--gutter-x: 0.5rem;
}

.g-3,
.gx-3 {
	--gutter-x: 1rem;
}

.g-4,
.gx-4 {
	--gutter-x: 2rem;
}

.g-5,
.gx-5 {
	--gutter-x: 3rem;
}

.g-0,
.gy-0 {
	--gutter-y: 0;
}

.g-1,
.gy-1 {
	--gutter-y: 0.25rem;
}

.g-2,
.gy-2 {
	--gutter-y: 0.5rem;
}

.g-3,
.gy-3 {
	--gutter-y: 1rem;
}

.g-4,
.gy-4 {
	--gutter-y: 2rem;
}

.g-5,
.gy-5 {
	--gutter-y: 3rem;
}

.col {
	flex: 1 0 0%;
}

/* flex: flex-grow flex-shrink flex-basis */

.col-1 {
	flex: 0 0 auto;
	width: calc(1 * (100% / 12));
}

.col-2 {
	flex: 0 0 auto;
	width: calc(2 * (100% / 12));
}

.col-3 {
	flex: 0 0 auto;
	width: calc(3 * (100% / 12));
}

.col-4 {
	flex: 0 0 auto;
	width: calc(4 * (100% / 12));
}

.col-5 {
	flex: 0 0 auto;
	width: calc(5 * (100% / 12));
}

.col-6 {
	flex: 0 0 auto;
	width: calc(6 * (100% / 12));
}

.col-7 {
	flex: 0 0 auto;
	width: calc(7 * (100% / 12));
}

.col-8 {
	flex: 0 0 auto;
	width: calc(8 * (100% / 12));
}

.col-9 {
	flex: 0 0 auto;
	width: calc(9 * (100% / 12));
}

.col-10 {
	flex: 0 0 auto;
	width: calc(10 * (100% / 12));
}

.col-11 {
	flex: 0 0 auto;
	width: calc(11 * (100% / 12));
}
.col-12 {
	flex: 0 0 auto;
	width: calc(12 * (100% / 12));
}

.product-item {
	border: 2px solid blue;
}

.offset-1 {
	margin-left: 8.33333333%;
}

.offset-2 {
	margin-left: 16.66666667%;
}

.offset-3 {
	margin-left: 25%;
}

.offset-4 {
	margin-left: 33.33333333%;
}

.offset-5 {
	margin-left: 41.66666667%;
}

.offset-6 {
	margin-left: 50%;
}

.offset-7 {
	margin-left: 58.33333333%;
}

.offset-8 {
	margin-left: 66.66666667%;
}

.offset-9 {
	margin-left: 75%;
}

.offset-10 {
	margin-left: 83.33333333%;
}

.offset-11 {
	margin-left: 91.66666667%;
}
